<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'Account'">

  <content has-header="true" has-tabs="true">
    <form>
      <list>
        <div class="item item-divider"></div>
        <a class="item item-avatar" type="item-text-wrap" href="#/tab/profile/{{client.id}}">
          <img src="http://www.zunuki.com/UsrData/profile-pic/profile-placeholder.gif">
          <h2>Ryan Stellar</h2>
         <!--  <p>${{project.price}}</p> -->
          <p>Joined february 15th</p>
        </a>
        
        <div class="item item-divider"></div>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-filing"></i>
          Project Archives
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-help"></i>
          Help
        </a>
        
        <div class="item item-divider"></div>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          Change Email
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-unlocked"></i>
          Change Password
        </a>
        
      </list>

      <a type="submit" class="button button-full button-light assertive-text" href="#/signin">Log Out</a>
    </form>

  </content>
</view>
