<!--
  This template loads for the 'tab.adopt' state (app.js)
-->

<view title="'Clients'" right-buttons="rightButtons">
  <content has-header="true" has-tabs="true">
    <list>
      <!-- Search form -->
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="liveSearch" type="text" placeholder="Search">
        </label>
      </div>
      
      <!-- Client List -->
      <a class="item item-avatar" ng-repeat="client in clients | filter:liveSearch" type="item-text-wrap" href="#/tab/client/{{client.id}}">
        <img src="http://placehold.it/50x50">
        <h2>{{client.first + ' ' + client.last}}</h2>
       <!--  <p>${{project.price}}</p> -->
        <p>{{client.location}}</p>
      </a>
    </list>
  </content>
</view>
