<div class="modal">

  <!-- Modal header bar -->
  <header class="bar bar-header bar-secondary">
    <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel
    </button>
    <h1 class="title">New Task</h1>
    <button class="button button-clear button-positive" ng-click="closeNewTask()">
      Save
    </button>
  </header>

  <!-- Modal content area -->
  <content has-header="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" placeholder="MyProjet">
      </label>
      <label class="item item-input">
        <span class="input-label">Price</span>
        $<input type="number" placeholder="150">
      </label>
      <label class="item item-input">
        <textarea placeholder="Notes"></textarea>
      </label>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Start</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">End</span>
        $<input type="date">
      </label>
    </div>

    <div class="list">
      <a class="item" href="#">
        Client Info
        <span class="item-note">
          No Client Info
        </span>
      </a>
    </div>

    <div class="list">
      <a class="item" href="#">
        Timeline
        <span class="item-note">
          0 Milestones
        </span>
      </a>
    </div>

    <form ng-submit="createTask(task)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="What do you need to do?" ng-model="task.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Task</button>
      </div>
    </form>

  </content>

</div>