<view title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons">

  <content has-header="true">
    
    <!-- Main content -->
    <list>
      <!-- Overview -->
      <div ng-repeat='milestone in timeline track by $index'>
        <div class="item item-divider"></div>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="milestones.title" type="text" placeholder="Milestone Name">
        </label>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input ng-model="milestones.date" type="date" placeholder="">
        </label>
      </div>
      
    </list>
      
  </content>

</view>