<view title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons"
      hide-back-button="false">

  <content has-header="true">
    
    <!-- Main content -->
    <list>
      <!-- Overview -->
      <div class="item item-divider"></div>
      <div class="button button-full button-light no-margin">
        <i class="ion-camera camera"></i>
      </div>

      <div class="item item-divider"></div>
      <label class="item item-input">
        <textarea ng-model="milestone.notes" placeholder="Notes" rows="4"></textarea>
      </label>

      <div class="item item-divider"></div>
      <button type="submit" class="button button-full button-light assertive-text">Complete Milestone</button>
    </list>
      
  </content>

</view>