<view title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons">

  <!-- Modal content area -->
  <content has-header="true">
    <form ng-submit="save(client)">
      <!-- Main content -->
      <list>
        <!-- Overview -->
        <div class="item item-divider"></div>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input ng-model="client.first" type="text" placeholder="John">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input ng-model="client.last" type="text" placeholder="Doe">
        </label>

        <!-- Contact Info -->
        <div class="item item-divider"></div>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input ng-model="client.phone" type="tel" placeholder="111-111-1111">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="client.email" type="email" placeholder="example@mysite.com">
        </label>
        
        <!--  -->
        <div class="item item-divider"></div>
        <button type="submit" class="button button-full button-light assertive-text">Save Client</button>

      </list>
      
      <!-- Submit button -->
    </form>

  </content>

</view>