<view title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons"
      hide-back-button="false">

  <content has-header="true">
    
    <!-- Main content -->
    <list>
      <!-- Photo -->
      <div class="item item-divider">Take Photo</div>
      <div class="button button-full button-light no-margin"
           ng-click="getPhoto()">
        <i ng-hide="milestone.photo" class="ion-camera camera"></i>
        <img ng-show="milestone.photo" ng-src="{{ milestone.photo }}" class="photo"></img>
      </div>
      
      <!-- Notes -->
      <div class="item item-divider">Notes</div>
      <label class="item item-input">
        <textarea ng-model="milestone.notes" 
                  placeholder="Some notes about the milestone to be sent to the client"
                  rows="4">
        </textarea>
      </label>
      
      <!-- Submit Button -->
      <div class="item item-divider"></div>
      <button class="button button-full button-light assertive-text" 
              ng-click="completeMilestone(milestone)">
        Complete Milestone
      </button>
    </list>
      
  </content>

</view>