<!--
  Index of all active projects
  This template loads for the 'main.projects' state (app.js)
-->
<view title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons"
      hide-back-button="true">

  <content has-header="true">

    <list>  
      <!-- Search form -->
      <div class="item item-input-inset search-item">
        <input ng-model="liveSearch" type="search" value="" placeholder="search" class="topcoat-search-input">
      </div>

      <!-- Project List -->
      <a class="item item-thumbnail-left" ng-repeat="project in projects | filter:liveSearch" type="item-text-wrap" href="#/main/projects/{{project.id}}">
        <img class="thumbnail" src="{{ project.photo }}">
        <h2>{{ project.title }}</h2>
        <p>
          ${{ project.price }}</br>
          Due {{ fromNow(project.end) }}
        </p>
      </a>
    </list>
  </content>
</view>
