<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<view title="project.title" right-buttons="rightButtons">
  <content has-header="true">
    <list>
      
      <!-- Project Overview -->
      <div class="item item-divider">
        Overview
      </div>
      <div class="item item-thumbnail-left" type="item-text-wrap">
        <img class="thumbnail" src="{{ project.photoURL }}">
        <h2>{{project.title}}</h2>
        <p>
          ${{project.price}}</br>
          Due in 15 days
        </p>
      </div>
      <div class="padding paragraph-item">
        {{ project.notes }}
      </div>

      <!-- Client Info -->
      <div class="item item-divider">
        Client Info
      </div>
      <a class="item item-avatar" type="item-text-wrap" href="#/tab/client/{{client.id}}">
        <img src="http://www.zunuki.com/UsrData/profile-pic/profile-placeholder.gif">
        <h2>Ryan Stellar</h2>
        <p>San Francisco, CA</p>
      </a>
      
      <!-- Timeline -->
      <div class="item item-divider">
        Timeline
      </div>
      <ul class="list">
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
          Milestone 1
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
          Milestone 2
        </li>
      </ul>
      
    </list>
  </content>
</view>
