
<view class="signin" title="'Signin'" right-buttons="rightButtons">
  <content>
    <div class="pull-right">
      <button class="button button-clear button-assertive">Signup</button>
    </div>
    
    <div class="title">FRANKIE</div>

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-assertive">Signin</button>
    </div>
  </content>
</view>