<view class="signin" 
      title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons">
      
  <content>
    <div>
      <a class="button button-clear button-assertive" href="#/signin">
        <i class="ionic ion-chevron-left"></i>
      </a>
      <div class="title">Signup</div>
    </div>
    

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-assertive">Signup</button>
    </div>
  </content>
</view>