
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">


  <!-- Clients Tab -->
  <tab title="Clients" icon="icon ion-ios7-people" href="#/tab/clients">
    <nav-view name="clients-tab"></nav-view>
  </tab>


  <!-- Projects Tab -->
  <tab title="Projects" icon="icon ion-ios7-calendar" href="#/tab/projects">
    <nav-view name="projects-tab"></nav-view>
  </tab>


  <!-- Account Tab -->
  <tab title="Account" icon="icon ion-ios7-gear" href="#/tab/account">
    <nav-view name="account-tab"></nav-view>
  </tab>


</tabs>
