/**
 * Entry file for all app SASS
 */

@import "ionic";

/* Your app's CSS, go crazy, make it your own */

.item p {
  font-size: 15px;
}

.paragraph-item {
  font-size: 15px;
  background-color: white;
  color: #666;
}

/* Helpers */

/* Reset annoying button margins */
.button.button-block, .button.button-full {
  margin: 0px;
}

/* Assertive text on light button */
.assertive-text {
  color: #ff6b26 !important;
}

/* make the camera icon a faded grey color */
.camera {
  color: lightgrey;
}

/* restrict dimensions for the image thumbnails to 100x100 */
.thumbnail {
  height: 100px;
}

/* make the plus icons on the page slightly larger */
i.large {
  font-size: 20px;
}
i.extra-large {
  font-size: 30px;
}

/* styling for camera icon button */
.camera {
  font-size: 100px;
  color: lightgrey;
}

/* Maximum width for uploaded photos */
.photo {
  max-width: 200px;
  padding-top: 10px;
}

/* pull input text right for dates */
.pull-right {
  text-align: right;
}

// Grey background for search input 
.search-item {
  background-color: $stable;
  padding: 5px;
}
