<ion-view title="{{title}}" 
          left-buttons="leftButtons" 
          right-buttons="rightButtons"
          hide-back-button="true">

  <ion-content has-header="true">
    <!-- Search form -->
    <div class="item item-input-inset search-item">
      </i><input ng-model="liveSearch" type="search" value="" placeholder="search" class="topcoat-search-input">
    </div>

    <!-- Courtesy Message -->
    <div ng-show="!projects.length" class="courtesy-message">
      {{ courtesyMessage }}
    </div>

    <ion-list>  
      <!-- Project List -->
      <a class="item item-thumbnail-left-wide" 
         ng-repeat="project in projects | filter:liveSearch" 
         type="item-text-wrap" 
         ui-sref="^.projectDetail({id: project.objectId })">
        <img class="thumbnail" ng-src="{{ project.photo || 'http://wiki.tripwireinteractive.com/images/4/47/Placeholder.png' }}">
        <h2>{{ project.title }}</h2>
        <p>
          <span ng-show="project.price">${{ project.price }}</br></span>
          <span ng-show="project.completed">Completed</span>
          <span ng-hide="project.completed">Due {{ project.end | moment.fromNow }}</span>
        </p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
