<!--
  Detailed view of project displaying project overview, client info, and timeline.
  This template loads for the 'main.new-timeline' state (app.js)
-->
<ion-view title="title" 
      left-buttons="leftButtons" 
      right-buttons="rightButtons">

  <ion-content has-header="true">
    
    <ion-list>
      <!-- Courtesy Message -->
      <div ng-show="!timeline.length" class="courtesy-message">
        {{ courtesyMessage }}
      </div>
      <!-- Milestone List -->
      <!-- TODO: this orderBy could provide unusual UX  -->
      <div ng-repeat="milestone in timeline | orderBy:'date'">
        <label class="item item-input">
          <span class="input-label">Milestone {{ $index + 1 }}</span>
          <input ng-model="milestone.title" type="text" placeholder="Description">
        </label>
<!--         <label class="item item-input">
          <span class="input-label">Date</span>
          <input ng-model="milestone.date" type="date">
        </label> -->
      </div>
    </ion-list>
      
  </ion-content>

</ion-view>
