<!-- 
  Create side menu tabs with an icon and label. 
  Each menu item links to a state (configured in app.js) to load the appropriate <nav-view>.
-->

<side-menus>
  <!-- Left menu -->
  <side-menu ng-controller="MenuCtrl" side="left" class="darker-bg">
    <content>
      <form>
        <list>
          <div class="item item-divider darker-bg dark-border"></div>
          <!-- goTo helper in sideMenuController in ionic-angular.js -->
          <div class="item item-darker item-icon-left"
               ng-click="goTo('main/projects')">
            <i class="icon stable ion-clipboard"></i>
            Projects
          </div>
          <div class="item item-darker item-icon-left"
               ng-click="goTo('main/calendar')">
            <i class="icon stable ion-calendar"></i>
            Calendar
          </div>
          <div class="item item-darker item-icon-left"
               ng-click="goTo('main/archives')">
            <i class="icon stable ion-filing"></i>
            Archives
          </div>
          <div class="item item-darker item-icon-left"
               ng-click="goTo('main/account')">
            <i class="icon stable ion-person-stalker"></i>
            Clients
          </div>
          <div class="item item-darker item-icon-left"
               ng-click="goTo('main/account')">
            <i class="icon stable ion-stats-bars"></i>
            Analytics
          </div>

          <div class="item item-divider darker-bg dark-border"></div>
          <div class="item item-darker item-icon-left"
               ng-click="goTo('main/help')">
            <i class="icon stable ion-help"></i>
            Help
          </div>
          <div class="item item-darker item-icon-left" 
               ng-click="goTo('main/account')">
            <i class="icon stable ion-ios7-gear"></i>
            Account
          </div>
          
          <div class="item item-divider darker-bg dark-border"></div>
          <div class="item item-darker item-icon-left" ng-click="goTo('signin')">
            <i class="icon stable ion-log-out"></i>
            Logout
          </div>
        </list>
      </form>
    </content>
  </side-menu>
  
  <!-- Main content -->
  <pane side-menu-content>

     <nav-bar type="bar-positive" 
              back-button-type="button-icon button-clear button-assertive" 
              back-button-icon="ion-ios7-arrow-back">
    </nav-bar>
    <!-- 
      The views will be rendered in the <nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <nav-view></nav-view>
  </pane>

</side-menus>

