<!DOCTYPE html>
<html ng-app="frankie">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Frankie</title>

    <!-- ionic css -->
<!--     <link href="lib/css/ionic.css" rel="stylesheet">
 -->    
    <!-- icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script src="<%= file %>"></script><% }); %>
  </head>

  <!-- 
    'frankie' is the name of this angular module (js/app.js)
  -->
  <body animation="nav-title-slide-ios7">

    <!-- 
      The views will be rendered in the <nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <nav-view></nav-view>

  </body>
</html>
