/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.scroll-content {
  background-color: #eee;
}

.signin .scroll-content {
  background-color: #273552;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  margin-top: 200px;
  color: #ff6b26;
}

.bar.bar-positive {
  background-color: #273552;
  color: #ff6b26;;
}

header .button {
  color: #ff6b26;
}

.buttons i {
  color: #ff6b26;
}

.paragraph-item {
  background-color: white;
}

/* Helpers */

.pull-right {
  text-align: right;
}

.top-buffer {
  margin-top: 20px;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Reset annoying button margins */
.button.button-block, .button.button-full {
  margin: 0px;
}

/* Assertive text on light button */
.assertive-text {
  color: #ff6b26 !important;
}

/* make the camera icon a faded grey color */
.camera {
  color: lightgrey;
}

/* restrict dimensions for the image thumbnails to 100x100 */
.thumbnail {
  height: 100px;
}