/* Your app's CSS, go crazy, make it your own */

.scroll-content {
  background-color: #eee;
}

.signin .scroll-content {
  background-color: #273552;
}

/* FRANKIE logo styling on signin page  */
.title {
  text-align: center;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  margin-top: 200px;
  color: #ff6b26;
}

.paragraph-item {
  background-color: white;
}

/* Helpers */

/* Reset annoying button margins */
.button.button-block, .button.button-full {
  margin: 0px;
}

/* Assertive text on light button */
.assertive-text {
  color: #ff6b26 !important;
}

/* make the camera icon a faded grey color */
.camera {
  color: lightgrey;
}

/* restrict dimensions for the image thumbnails to 100x100 */
.thumbnail {
  height: 100px;
}

/* make the plus icons on the page slightly larger */
i.large {
  font-size: 20px;
}
